.layout {
  -fx-background-color: #faf8f0;
  -fx-font-family: Arial, sans-serif;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-padding: 10px;
}

.scoreboard {
  -fx-alignment: center-right;
  -fx-spacing: 10px;
}

.logo {
  -fx-text-fill: #ffffff;
  -fx-background-color: #ecc400;
  -fx-pref-width: 60px;
  -fx-pref-height: 60px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-font-size: 22px;
  -fx-alignment: center;
}

.score {
  -fx-background-color: #bbada1;
  -fx-background-radius: 4px;
  -fx-padding: 10;
  -fx-alignment: center;
}

.score-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 8px;
}

.score-value {
  -fx-text-fill: #ffffff;
  -fx-font-size: 20px;
}

.instructions {
  -fx-text-fill: #766f65;
  -fx-padding: 10 0 10 0; /* top, right, bottom, left */
}

.board {
  -fx-background-color: #020717;
  -fx-padding: 10px;
}

.tile {
  -fx-pref-width: 35px;
  -fx-pref-height: 35px;
  -fx-font-size: 17px;
  -fx-alignment: center;
  -fx-text-fill: #ffffff;
  -fx-background-color: #fcfdff;
}

.tile_wall {
  -fx-background-color: #f57c5e;
  -fx-font-size: 10px;
}

.tile_clue {
  -fx-background-color: #00cefc;
}

.clue_solved {
  -fx-background-color: #00fc5c;
}

.tile_lamp {
  -fx-background-color: #ff270f;
}

.tile_illegal {
  -fx-background-color: #c70fff;
}

.tile_lit {
  -fx-background-color: #edff91;
}


.controls-layout {
   -fx-background-color: #0a0a0d;
   -fx-padding: 40px;
   -fx-border-color: #2b2b40 ;
   -fx-border-radius: 50;
}

.tile-pane {
     -fx-alignment: center;
}

.shuffle-button {
    -fx-background-color: slateblue;
    -fx-text-fill: white;
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}

.next-button {
    -fx-background-color: slateblue;
    -fx-text-fill: white;
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}

.prev-button {
    -fx-background-color: slateblue;
    -fx-text-fill: white;
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
    -fx-scale-z: 1.6;
}


